name: Release build

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build package
        run: python setup.py sdist

      - uses: softprops/action-gh-release@v2
        with:
          files: dist/*
